table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    background-color: whitesmoke;
}

th {
    border: 2px solid rgb(0, 0, 0);
    border-collapse: collapse;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 4px;
    padding-right: 4px;
}
.flag{
    font-size: 65%;
    max-width: 50px;
    min-width: 50px;
    
}
td{
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 4px;
    padding-right: 4px;
}
img{
    width: 100%;
}
.dnf-text {
    font-size: 75%;
    color: red;
}

.dnf-points{
    font-size: 65%;
    color: black;
}

.dns-text {
    font-size: 75%;
    color: darkblue;
}

.first {
    background-color: rgb(241, 241, 87);
}
.first-sprint {
    background-color: rgb(236, 236, 161);
}

.second {
    background-color: rgb(187, 187, 187);
}

.third {
    background-color: burlywood;
}

.fastest {
    color: darkviolet;
    text-decoration: underline;
    font-weight: bold;
}

.teamTabelle {
    border: 3px solid black;
    border-collapse:  collapse;

}
.small {
    font-size: 90%;
}

.points{
    font-weight: bold;
    padding-left: 4px;
    padding-right: 4px;
}
.ferrari{
    background-color:rgb(255, 49, 49);
}
.ersatz{
    background-color:rgb(200, 200, 200);
}
.ferrari_light{
    background-color:rgb(255, 49, 49);
    opacity: 0.5;
}
.mercedes{
    background-color: cyan;
}
.redbull{
    background-color: darkblue;
    color: white;
}
.williams{
    background-color: blue;
    color: white;
}
.alpine{
    background-color: rgb(56, 142, 255);
}
.alfaromeo{
    background-color: darkred;
    color: white;
}
.alphatauri{
    background-color: rgb(118, 96, 129);
    color: white;
}
.mclaren{
    background-color: orange;
}
.astonmartin{
    background-color: rgb(83, 170, 83);
}
.haas{
    background-color: white;
}


h1{
    text-align: center;
    margin-bottom: 5px;
}
h2{
    text-align: center;
    margin-top:0;
    padding: 8px;
}
h4{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
}
body{
    margin: 0;
}



.navbar{
    background-color: rgb(0, 0, 170);
    position: fixed;
    width: 100%;
}
.navlist{
    float: right;
}
.navlist li{
    display: inline-block;
}
.navlist li a{
    color: white;
    margin: 0 10px;
    text-decoration: none;
}
.navlist li a:hover{
    color: rgb(253, 9, 9);
    text-decoration: underline;
}

/* background: url("SFR_Logo_S5.png") center center; */

.ersterAbschnitt{
    background-color: rgb(199, 253, 201);
    padding: 8px;
}
.zweiterAbschnitt{
    background-color: rgb(191, 248, 255);
    padding: 8px;
}
.logo{
    width:100px;
    height:100px;
}
.rennkalender a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.rennkalender a:hover{
    color: rgb(253, 9, 9);
    text-decoration: underline;
}
.rennkalender img{
    width: 10px;
}
.aktuelleSaison{
    background-color: aliceblue;
    padding: 8px;
}
.saison1 a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.saison1 a:hover{
    color: rgb(253, 9, 9);
    text-decoration: underline;
}
.saison1{
    
    background-color: aliceblue;
    padding: 8px;
}