table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    background-color: whitesmoke;
}

th {
    border: 2px solid rgb(0, 0, 0);
    border-collapse: collapse;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 4px;
    padding-right: 4px;
}
.flag{
    font-size: 65%;
    max-width: 50px;
    min-width: 50px;
    
}
td{
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 4px;
    padding-right: 4px;
}
img{
    width: 100%;
}
.dnf-text {
    font-size: 75%;
    color: red;
}

.dnf-points{
    font-size: 65%;
    color: black;
}

.dns-text {
    font-size: 75%;
    color: darkblue;
}

.first {
    background-color: rgb(241, 241, 87);
}
.first-sprint {
    background-color: rgb(236, 236, 161);
}

.second {
    background-color: rgb(187, 187, 187);
}

.third {
    background-color: burlywood;
}

.fastest {
    color: darkviolet;
    text-decoration: underline;
    font-weight: bold;
}

.teamTabelle {
    border: 3px solid black;
    border-collapse:  collapse;

}
.small {
    font-size: 90%;
}

.points{
    font-weight: bold;
    padding-left: 4px;
    padding-right: 4px;
}
.ferrari{
    background-color:rgb(255, 49, 49);
}
.ersatz{
    background-color:rgb(200, 200, 200);
}
.ferrari_light{
    background-color:#ff3131;
    opacity: 0.5;
}
.mercedes{
    background-color: #00ffff;
}
.redbull{
    background-color: #00008b;
    color: white;
}
.williams{
    background-color: blue;
    color: white;
}
.alpine{
    background-color: #388eff;
}
.alfaromeo{
    background-color: #8b0000;
    color: white;
}
.alphatauri{
    background-color: #766081;
    color: white;
}
.mclaren{
    background-color: #ffa600
}
.astonmartin{
    background-color: #53aa53;
}
.haas{
    background-color: white;
}


h1{
    text-align: center;
    margin-bottom: 5px;
}
h2{
    text-align: center;
    margin-top:0;
    padding: 8px;
}
h4{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
body {
    margin: 0;
}


.navbar{
    background-color: rgb(0, 0, 170);
    position: fixed;
    width: 100%;
    z-index: 30;        /* z Ebene: wie weit vor -> bei Überlagerungen hilfreich */
}
.navlist{
    float: right;
}
.navlist li{
    display: inline-block;
}
.navlist li a{
    color: white;
    margin: 0 10px;
    text-decoration: none;
}
.navlist li a:hover{
    color: rgb(253, 9, 9);
    text-decoration: underline;
}

/* background: url("SFR_Logo_S5.png") center center; */

.ersterAbschnitt{
    background-color: rgb(199, 253, 201);
    padding: 8px;
}
.zweiterAbschnitt{
    background-color: rgb(191, 248, 255);
    padding: 8px;
}
.logo{
    width:100px;
    height:100px;
}
.rennkalender {
    margin-bottom: 40px;
}
.rennkalender a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.rennkalender a:hover{
    color: rgb(253, 9, 9);
    text-decoration: underline;
}
.rennkalender img{
    width: 10px;
}
.aktuelleSaison{
    background-color: aliceblue;
    padding: 8px;
}
.saison1 a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.saison1 a:hover{
    color: rgb(253, 9, 9);
    text-decoration: underline;
}
.saison1{
    
    background-color: aliceblue;
    padding: 8px;
}
iframe[src="testTabelle.xhtml"] {
    pointer-events: none; /* Klick-Ereignisse deaktivieren */
}
.socials{
    padding-top: 0px;
    position: fixed;
    bottom: -130px;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 170);
}
.social-list{
}
.social-list li{
    display: inline-block; 
    position: relative; 
    top: -62px; 
    left: -13px; 
}
.social-list li a{margin-right: 10px;
margin-top: 0px;}
.social-logo{
    width: 40px;
    height: 40px
}
.img-text{
    height: 10px;
    width: 10px;
}


/* Video Test */

.container{
    padding: 2rem;
}

.slider-wrapper{
    position: relative;
    max-width: 55rem;
    margin:0 auto;
}

.slider{
    display: flex;
    aspect-ratio: 4 / 3;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #ff9100;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

/* VIDEO ENDE */